@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0;
}

h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	margin-top: 10vh;
	margin-bottom: 0;
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}


/** NAVBAR **/


.nav {
	height: 50px;
	width: 100%;
	background-color: #28323B;
	position: absolute;
	top: 0;
  }
  
  .nav > .nav-header {
	display: inline;
  }
  
  .nav > .nav-header > .nav-title {
	display: inline-block;
	font-size: 22px;
	color: #FF416C;
	padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
	display: none;
  }

  .nav > .nav-links {
	z-index: 999;
	text-align: center;
	display: inline;
	float: right;
	font-size: 18px;
  }
  
  .nav > .nav-links > a {
	display: inline-block;
	padding: 13px 10px 13px 10px;
	text-decoration: none;
	color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
	background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
	display: none;
  }
  
  @media (max-width:768px) {
	.nav > .nav-btn {
	  display: inline-block;
	  position: absolute;
	  right: 0px;
	  top: 0px;
	}
	.nav > .nav-btn > label {
	  display: inline-block;
	  width: 50px;
	  height: 50px;
	  padding: 13px;
	}
	.nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
	  background-color: rgba(0, 0, 0, 0.3);
	}
	.nav > .nav-btn > label > span {
	  display: block;
	  width: 25px;
	  height: 10px;
	  border-top: 2px solid #eee;
	}
	.nav > .nav-links {
	  position: absolute;
	  display: block;
	  width: 100%;
	  background-color: #333;
	  transition: all 0.3s ease-in;
	  overflow-y: hidden;
	  top: 50px;
	  left: 0px;
	}
	.nav > .nav-links > a {
	  display: block;
	  width: 100%;
	}
	.nav > #nav-check:not(:checked) ~ .nav-links {
	  height: 0px;
	}
	.nav > #nav-check:checked ~ .nav-links {
	  
	  overflow-y: auto;
	}
  }




a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

div#container{
	margin-top: 3%;;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

/** FOOTER **/

svg {
	width: 100vw;
  }
  
  footer {
	width: 100vw;
	bottom: 0;
	position: absolute;
	left: 0;
	display: flex;
	align-items: flex-end;
	padding-bottom: 3rem;
	justify-content: center;
	overflow: hidden;
	position: absolute;
	width: 100vw;
	height: 24vh;
	bottom: 0;
	filter: url("#goo");
  }
  footer h1 {
	z-index: 2;
	color: white;
	font-family: "Ubuntu", sans-serif;
	font-weight: lighter;
	font-size: calc(2vmin + 8px);
  }
  footer h1 span {
	font-weight: bold;
	color: #FF416C;
	text-shadow: 0 0 15px rgba(255, 160, 54, 0.4);
  }
  h6.font-ram.font-size-40.text-white-50 {
	font-weight: 100;
	font-size: 13px;
}
  .navbar-brand{
	  color: #FFFFFF;
  }
  .row.bg-light.py-5 {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    height: 15vh;
    color: #fff;
    top: 50%;
    bottom: 0;
    position: absolute;
    z-index: 55;
}

.col-sm-4.my-5.text-center {
    text-align: center;
}

.col-sm-4.my-4.text-center {
    width: 33vw;
    text-align: center;
}
  footer::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 120px;
	clip-path: url("#wave");
	background-color: #28323B;
  }
  @media only screen and (max-width: 768px) {
	footer::after {
	  clip-path: none;
	  height: 150px;
	}
  }
  footer .ball {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #0000ff;
	position: absolute;
	animation: up 5s cubic-bezier(0.18, 0.89, 0.32, 1.28) infinite;
  }
  @media only screen and (max-width: 768px) {
	footer .ball {
	  animation: up-small 5s cubic-bezier(0.18, 0.89, 0.32, 1.28) infinite;
	}
  }
  
  @keyframes up {
	0% {
	  bottom: 0px;
	  width: 100px;
	  height: 100px;
	}
	50% {
	  bottom: 200px;
	}
	100% {
	  bottom: 0px;
	  width: 0px;
	  height: 0px;
	}
  }
  @keyframes up-small {
	0% {
	  bottom: 0px;
	  width: 100px;
	  height: 100px;
	}
	50% {
	  bottom: 150px;
	}
	100% {
	  bottom: 0px;
	  width: 0px;
	  height: 0px;
	}
  }
  